*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
}
:root{
    --myBlack:#2f2b31;
    --myWhite:#fff;
    --myWhiteWeak:#f7f8f9;
    --myWhiteWeakTwo:#f4edf7;
    --myGray:#999999;
    --myGrayStrong:#666666;
    --myGrayWeak:#eae8ed;
    --myGrayTwo:#a5a5a5;
    --myBlue:#3f4579;
    --myPurpleWeak:#9093b2;
}
h1,h2,h3,h4,h5,h6{
    color: var(--myBlack);
    font-size: 1.2rem;
    font-weight: 600;
}
h4,h5{
    font-size: 1rem;
}
h6{
    font-size: 0.9rem;
}
.title{
    font-size: 2rem;
    position: relative;
}
p{
    font-size: 0.9rem;
    color: var(--myGray);
    font-weight: 400;
}
p.paragraphStrong{
    font-size: 1rem;
    color: var(--myGrayStrong);
}
img{
    width:100%;
    border-radius: 15px;
    object-fit: cover;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--myBlack);
}
ul, nav{
    list-style-type:none;
}
svg{
    color: var(--myBlack);
    font-size: 1.1rem;
}
input::placeholder{
    color: var(--myGray);
}
input, input[type="file"]::-webkit-file-upload-button, textarea{
    background-color: var(--myWhiteWeak);
    border-radius: 10px;
    height:40px;
    padding:0 0.5rem;
    outline: 0;
    color: var(--myGray);
    font-size:1rem;
    border:0;
}
button, .button{
    background-color:var(--myBlue);
    border-radius: 10px;
    border:0;
    color: var(--myWhite);
    min-width: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonTwo{
    color: var(--myBlue);
}
button svg{
    color: var(--myWhite);
}
::-webkit-scrollbar {
	background: transparent;
	width: 7px;
	border:1px solid transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: .4rem;
	background: var(--myBlack);
}
::-webkit-scrollbar-thumb:horizontal{
    background:transparent !important;
}   
/*CLASSES GLOBAIS*/
.w100{
    width: 100%;
}
.w95{
    width: 95%;
}
.w90{
    width: 90%;
}
.w85{
    width: 85%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w30{
    width: 30%;
}
.w25{
    width: 25%;
}
.w20{
    width: 20%;
}
.center{
    margin: 0 auto;
}
.textCenter{
    text-align:center;
}
.textRight{
    text-align:right;
}
.itemsFlex{
    display: flex;
}
.flexWrap{
    flex-wrap: wrap;
}
.alignCenter{
    align-items: center;
}
.alignEnd{
    align-items: flex-end;
}
.justCenter{
    justify-content: center;
}
.justEnd{
    justify-content: flex-end;
}
.justSpaceBetween{
    justify-content: space-between;
}
.justSpaceEvenly{
    justify-content: space-evenly;
}
.marginDownSmallIn{
    margin-bottom: 1.2%;
}
.marginDownSmall{
    margin-bottom: 2.2%;
}
.marginDownDefault{
    margin-bottom: 2rem;
}
.marginDownBigger{
    margin-bottom: 8vh;
}
.marginTopSmallIn{
    margin-top: 1.2%;
}
.marginTopSmall{
    margin-top: 2.2%;
}
.marginRightSmallIn{
    margin-right: 1.2%;
}
.marginRightSmall{
    margin-right: 2.2%;
}
.marginRightDefault{
    margin-right: 2rem;
}
.marginLeftSmallIn{
    margin-left: 1.2%;
}
.marginLeftSmall{
    margin-left: 2.2%;
}
.styleNone{
    background:transparent;
    border:0;
}
.positionRelative{
    position: relative;
}
.boxEffect{
    background: rgba(255, 255, 255, 0.877);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.slide{
    max-width: 100%;
    overflow-x: auto;
}
.slide ul{
    flex-wrap: nowrap;
	max-width: 100%;
	transition: all 0.5s linear;
}
.box{
    background-color: var(--myWhite);
    padding:0.9rem;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--myGray);
    transition: ease 0.4s;
    position: relative;
}
.box .iconDelete{
    background-color: var(--myGrayWeak);
    width: 35px;
    height:35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:3%;
    right:3%;
}
.limitLineClampOne{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@media screen and (min-width: 780px){
    .hideDeviceDesktop{
        display: none;
    }
}
/*HEADER*/
header .wrap{
    height:12vh;
}
header .wrap .col nav li{
    margin:0 2%;
}
header .wrap .col nav li a{
    color:var(--myGray);
    font-weight: 500;
}
footer{
    margin-top: 12vh;
    background-color: var(--myWhiteWeakTwo);
    border-top:1px solid var(--myGrayWeak);
    width:100%;
}
footer .wrap{
    height:10vh;
}
figure.imgSmallUser img{
    width: 45px;
    height:45px;
}
/*HOME*/
section.welcomeContainer .wrap{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    border-radius: 15px;
    padding:3rem;
}
section.welcomeContainer .textContent p{
    color: var(--myPurpleWeak);
    font-size: 1.5rem;
}
section.welcomeContainer .textContent h2{
    font-size: 5rem;
    color: var(--myWhite);
}
section.welcomeContainer .row{
    margin-top: -6%;
    padding:2rem;
}
section.welcomeContainer .row .col{
    border-right: 1px solid var(--myGrayTwo);
}
section.welcomeContainer .row .col:nth-of-type(3){
    border-right: 0;
}
section.welcomeContainer .row .col a.icon{
    background: var(--myGrayWeak);
    border-radius: 50%;
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.welcomeContainer .row .col input{
    padding: 0;
}
section.welcomeContainer .row .colButton button{
    height:4.5rem;
    width: 3rem;
}
section.searchContainer ul li{
    border:1px solid var(--myPurpleWeak);
    border-radius: 12px;
    padding:0.6rem 2rem;
    width: 18%;
    text-align:center;
    margin: 0 1% 1% 1%;
}
section.searchContainer ul li a{
    color:var(--myGrayStrong);
}
section.searchContainer .title span.booble{
    background-color:#b9bcff;
    width:10px;
    height:10px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    right: 12%;
}
section.searchContainer .title span.booble:nth-of-type(2){
    background-color:#edb9ff;
    top:30%;
    right:5%;
}
section.searchContainer .title span.booble:nth-of-type(3){
    background-color:#ffb9ca;
    top:100%;
    right:12%;
}
a.btnArrow{
    border:1px solid var(--myGrayWeak);
    border-radius: 50%;
    height: 50px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.containerRefs{
    background-color:var(--myWhiteWeakTwo);
    padding:3rem 0;
}
section.containerRefs .textContent h2{
    color: var(--myBlue);
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2.6rem;
}
section.containerRefs .textContent span.line{
    position: absolute;
    height:2px;
    width: 30px;
    background-color: var(--myBlue);
}
section.containerRefs .boxItem{
    min-width: 15%;
    max-width: 15%;
}
section.containerRefs .boxItem figure.imgItem img{
    border-radius: 50px 50px 0 0;
    height:30vh;
}
section.containerApresentation figure img{
    height:60vh;
}
section.destinations ul li.box{
    min-width: 23%;
    max-width: 23%;
    margin:1% 1%;
}
section.destinations ul li.box figure img{
    height:30vh;
}
section.destinations ul li.box p.ref, section.destinations ul li.box svg{
    color: var(--myPurpleWeak);
}
section.destinations ul li.box:hover{
    margin-top: -0.5rem;
    box-shadow: 0 0 12px #858585;
}
/*LOGIN*/
section.accessContainer, section.containerInfo{
    min-height:60vh;
}
section.accessContainer .wrap, section.containerInfo .wrap{
   padding:4rem 2rem;
}

@media screen and (max-width: 780px){
    .hideDeviceMobile{
        display: none;
    }
    .marginDownSmall {
        margin-bottom: 6.2%;
    }
    .w100Mobile{
        width:100%;
    }
    .w90Mobile{
        width:90%;
    }
    .w80Mobile{
        width:80%;
    }
    .w70Mobile{
        width:70%;
    }
    .w50Mobile{
        width:50%;
    }
    .flexWrapMobile{
        flex-wrap: wrap;
    }
    .marginDownSmallMobile{
        margin-bottom: 3%;
    }
    .colAsideDeviceSmall{
        position: absolute;
        top:100%;
        left:0;
        background-color: var(--myWhite);
        width:100%;
        z-index: 999;
    }
    .colAsideDeviceSmall nav{
        display: block;
    }
    header .wrap .colAsideDeviceSmall nav li{
        margin-bottom: 2%;
    }
    section.welcomeContainer .textContent h2{
        font-size: 2rem;
    }
    section.welcomeContainer .wrap{
        height: 65vh;
    }
    section.welcomeContainer .row .col{
        border:0;
    }
    section.welcomeContainer .row{
        margin-top:-16%;
        padding:1rem;
    }
    section.searchContainer ul li {
        width: 48%;
    }
    section.containerRefs .boxItem{
        min-width: 48%;
        max-width: 48%;
    }
    section.destinations ul li.box{
        min-width: 100%;
        max-width: 100%;
        margin:3% 0;
    }
    section.containerApresentation .col.marginRightSmall{
        margin-right:0;
    }
    section.accessContainer, section.containerInfo{
        min-height:100vh;
    }
}